---
import BaseLayout from "../layouts/BaseLayout.astro";
import { IoPhonePortraitOutline } from "react-icons/io5";
import { IoLocationOutline } from "react-icons/io5";
import contact from "../data/contact";

const { data } = contact;

const CONTACT_US_FORM_WEBHOOK_URL = import.meta.env.CONTACT_US_FORM_WEBHOOK_URL;
---

<BaseLayout
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={data.pageKeywords}
>
  <section
    class="px-6 pt-12 pb-16 lg:pb-4 min-h-screen bg-gradient-to-tr from-primary/40 to-primary/70"
  >
    <div class="max-w-7xl mx-auto">
      <div class="flex flex-wrap justify-center align-top items-start">
        <iframe
          src="https://msg.flightschoolcrm.com/widget/form/wspl4vZ3nE24pjcLrrcQ"
          style="width:100%;height:100%;border:none;border-radius:3px"
          id="inline-wspl4vZ3nE24pjcLrrcQ"
          data-layout="{'id':'INLINE'}"
          data-trigger-type="alwaysShow"
          data-trigger-value=""
          data-activation-type="alwaysActivated"
          data-activation-value=""
          data-deactivation-type="neverDeactivate"
          data-deactivation-value=""
          data-form-name="Contact Us Form"
          data-height="549"
          data-layout-iframe-id="inline-wspl4vZ3nE24pjcLrrcQ"
          data-form-id="wspl4vZ3nE24pjcLrrcQ"
          title="Contact Us Form"
        >
        </iframe>
        <script src="https://msg.flightschoolcrm.com/js/form_embed.js"></script>
      </div>
    </div>
  </section>
</BaseLayout>
