---
import terms from "../data/terms-of-service";
import BaseLayout from "../layouts/BaseLayout.astro";

const { data } = terms;
---

<BaseLayout
  siteTitle="Terms of Service | Right Rudder Marketing"
  siteDescription="Terms of Service of Right Rudder Marketing"
  keywords="terms of service, right rudder marketing, legal, agreement"
>
  <div class="h-20 lg:h-28 w-full bg-primary/50 brightness-75"></div>

  <section class="mt-12 font-sans1 flex flex-col items-center">
    <h1
      class="mx-auto text-center text-primary-dark-900 font-black max-w-4xl text-5xl"
      set:html={data.heading}
    />
    <p class="mx-auto text-center" set:html={data.subheading} />
    <div class="w-4/5 mt-12 lg:w-3/5 py-10">
      {
        data.content.map((part) => (
          <div class="mb-12">
            <h2 class="font-bold text-black tracking-tight uppercase mb-3 text-3xl">
              {part.heading}
            </h2>
            {part.paragraphs.map((paragraph) => (
              <p
                class="mb-3 leading-relaxed text-gray-900 text-justify"
                set:html={paragraph}
              />
            ))}
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
