---
import { PHONE_NUMBER } from "../consts";
import { FaPhoneSquareAlt } from "react-icons/fa";
import SocialIcons from "./SocialIcons.astro";
---

<div class="w-full bg-primary-dark z-0 h-10 px-4 lg:px-0">
  <div
    class="mx-auto flex max-w-[80rem] items-center align-middle h-full justify-between"
  >
    <div
      class="flex items-center w-1/2 md:w-1/5 lg:ml-9 h-8 justify-around align-middle"
    >
      <SocialIcons />
    </div>

    <a
      href=`tel:${PHONE_NUMBER}`
      name="Call Us"
      aria-labelledby="Call Us Now"
      title="Call Us Now"
      class="lg:mr-9 flex align-middle items-center text-right text-white text-base lg:text-lg font-sans font-normal hover:font-bold hover:scale-110 cursor-pointer transition-all"
      aria-label="Call telephone Link"
    >
      <FaPhoneSquareAlt className="text-white mr-2 text-lg lg:text-xl" />
      {PHONE_NUMBER}</a
    >
  </div>
</div>
