---
import { YouTube } from 'astro-embed';
---

<div class="flex flex-col lg:flex-row py-10">
    <div class="lg:w-1/2 flex flex-col items-center text-center">
        <h2 class="text-5xl font-bold">Enroll <span class="text-primary">More Student Pilots</span> With Digitial Marketing</h2>
        <h3 class="py-5 text-2xl">Become the #1 Flight School <br class="lg:hidden"> in Your City</h3>
        <p class="lg:px-24 px-5">Stop wasting your time and money with agencies that don't know the aviation industry and don't know how to do marketing right. We've helped flight schools all across the country <span class="font-bold text-primary">double, triple, and even 10X their student enrollments </span> so that they could expand their team and fleet, and acheive their goals.  
        </p>  
        <p class="lg:px-24 px-5 py-5">
            Right Rudder Marketing is the leader in helping <span class="font-bold text-primary">ONLY flight schools</span> leverage the internet and use well executed marketing strategies to take their business out of the clouds and into VFR.
        </p>
    </div>
    <div class="lg:w-1/2">
        <YouTube id="46Z56Pn2Gnk" />
    </div>
</div>

