<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-3xl prose-h2:text-2xl prose-h2:Capitalize
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-sm"
>
  <slot />
</div>
