---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const webinars = await getCollection("webinar");
  return webinars.map((webi) => ({
    params: { slug: webi.slug },
    props: webi,
  }));
}
type Props = CollectionEntry<"blog">;

const webi = Astro.props;
const { Content } = await webi.render();
---

<BlogPost {...webi.data}>
  <div class="prose w-full max-w-3x px-5">
    <Content />
  </div>
</BlogPost>
