---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const notams = await getCollection("notams");
  return notams.map((notam) => ({
    params: { slug: notam.slug },
    props: notam,
  }));
}
type Props = CollectionEntry<"notams">;

const notam = Astro.props;
const { Content } = await notam.render();
---

<BlogPost {...notam.data}>
  <div class="prose w-full max-w-4xl px-5">
    <Content />
  </div>
</BlogPost>
